.header {
  background-color: #caf7e3;
  background-image: url("../images/asfalt-light.png");
  color: #ffffff;
  height: 30rem;
  text-align: center;
  padding: 1rem;
}

.header img {
  margin-top: 3rem;
}

.header h2 {
  margin-bottom: 2.5rem;
}
