/* Nav Head */
nav {
  background-color: #4056a1;
  color: #ffffff;
  height: 120px;
  width: 100vw;
}
.nav-body {
  padding: 1.5em;
}
.nav-head {
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 2rem;
}

.nav-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.userName {
  margin-top: 20px;
  color: white;
}

.title {
  font-family: "Bungee";
}
