nav {
  background-color: #e4bad4;
  color: #ffffff;
  height: 120px;
  width: 100vw;
  padding: 2rem;
  position: sticky;
  top: 0;
}

.title {
  font-size: 2rem;
  font-family: "Bungee";
}

a {
  color: inherit;
  text-decoration: none;
}

.tweetBtn i {
  margin-top: 0.2rem;
  color: #fff;
  animation: bounce 0.75s infinite;
}

/* Animated Compose Button */
.tweetBtn:hover {
  cursor: pointer;
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translate(0px, 0px);
  }

  30% {
    transform: scale(1, 0.8) translate(0px, 4px);
  }

  75% {
    transform: scale(1, 1.1) translate(0px, -4px);
  }

  100% {
    transform: scale(1, 1) translate(0px, 0px);
  }
}
