/* Tweet Compost */
/* #new-tweet {
  visibility: hidden;
} */

textarea {
  width: 90vw;
  background-color: #f4f1ec;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 3px solid #545149;
  font-weight: bold;
}

label {
  font-weight: bold;
}

.tweet-info {
  font-family: "Bungee";
}

.t-btn {
  background-color: #4056a1;
  height: 1.5em;
  color: #ffffff;
}

#tweet-text {
  color: #545149;
  font-size: 1.5rem;
}

.warning {
  color: #ff0000;
}
