textarea {
  width: 100%;
  background-color: #f4f1ec;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 3px solid #545149;
  font-weight: bold;
  outline: none;
}

form {
  margin-bottom: 4rem;
}

label {
  font-weight: bold;
}

.tweet-info {
  font-family: "Bungee";
  margin-top: 0.8rem;
}

form button {
  background-color: #4056a1;
  height: 2rem;
  color: #ffffff;
}

#new-text {
  color: #545149;
  font-size: 1.5rem;
}

.warning {
  color: #ff0000;
}
