/* Tweets Posted */
.tweet-box {
  border-style: solid;
  padding: 1.2rem;
  margin-bottom: 50px;
}

hr {
  border: 2px solid;
}

/* Hover Effect (In the demo of the project handle hover effect was required)*/
/* Icon Hover Effect (Project description icons required hover effect on Icons) */
.tweet-box:hover {
  box-shadow: 5px 10px #c5cbe3;
}

.tweet-box:hover .hidden {
  display: block;
}

/* Article Component */
.handle {
  color: #c5cbe3;
}

.name {
  margin-left: 10px;
}

.marginL {
  margin-left: 0.8rem;
}

h3 {
  margin-left: 0.8rem;
}

i {
  margin-right: 10px;
}

/* Bottom Button */
.page-footer {
  padding: 2rem;
}

#toTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #f5abc9;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

#toTop i {
  margin: auto;
  padding-left: 8px;
  padding-right: 8px;
}
